DJANGO_SUPERUSER_USERNAME={{ awx_galaxy_ng_admin_user }}
DJANGO_SUPERUSER_EMAIL={{ awx_galaxy_ng_admin_email | default('admin@example.com') }}
DJANGO_SUPERUSER_PASSWORD={{ awx_galaxy_ng_admin_password }}
POSTGRES_USER={{ awx_galaxy_ng_postgres_user }}
POSTGRES_PASSWORD={{ awx_galaxy_ng_postgres_password }}
POSTGRES_DB={{ awx_galaxy_ng_postgres_database }}
PULP_SECRET_KEY={{ awx_galaxy_ng_secret_key }}
PULP_DB_NAME={{ awx_galaxy_ng_postgres_database }}
PULP_DB_USER={{ awx_galaxy_ng_postgres_user }}
PULP_DB_PASSWORD={{ awx_galaxy_ng_postgres_password }}
PULP_DB_HOST=postgres
PULP_DB_PORT=5432
PULP_REDIS_HOST=redis
PULP_REDIS_PORT=6379
PULP_REDIS_PASSWORD=
PULP_CACHE_ENABLED=true
PULP_ANALYTICS=false
PULP_GALAXY_DEPLOYMENT_MODE=standalone
PULP_DEFAULT_FILE_STORAGE=pulpcore.app.models.storage.FileSystem
PULP_REDIRECT_TO_OBJECT_STORAGE=false
PULP_GALAXY_API_PATH_PREFIX={{ awx_galaxy_ng_api_path_prefix }}
PULP_CONTENT_PATH_PREFIX={{ awx_galaxy_ng_content_path_prefix }}
PULP_ANSIBLE_API_HOSTNAME={{ awx_galaxy_ng_effective_public_url }}
PULP_ANSIBLE_CONTENT_HOSTNAME={{ awx_galaxy_ng_effective_public_url }}
PULP_CONTENT_ORIGIN={{ awx_galaxy_ng_effective_public_url }}
PULP_CSRF_TRUSTED_ORIGINS=['{{ awx_galaxy_ng_effective_public_url }}']
PULP_GALAXY_AUTHENTICATION_CLASSES=['galaxy_ng.app.auth.session.SessionAuthentication','rest_framework.authentication.TokenAuthentication','rest_framework.authentication.BasicAuthentication']
PULP_GALAXY_API_SPEC_REQUIRE_AUTHENTICATION=false
PULP_ANSIBLE_BASE_ROLES_REQUIRE_VIEW=false
PULP_RESOURCE_SERVER_SYNC_ENABLED=false
PULP_TOKEN_AUTH_DISABLED=false
PULP_TOKEN_SERVER={{ awx_galaxy_ng_effective_public_url }}/token/
PULP_TOKEN_SIGNATURE_ALGORITHM=ES256
PULP_PUBLIC_KEY_PATH=/app/dev/common/container_auth_public_key.pem
PULP_PRIVATE_KEY_PATH=/app/dev/common/container_auth_private_key.pem
PULP_ALLOWED_EXPORT_PATHS=/app/tmp
PULP_ALLOWED_IMPORT_PATHS=/app/tmp
GALAXY_IMPORTER_ANSIBLE_LOCAL_TMP=/tmp/ansible
