---
awx_vcenter_hostname: "{{ lookup('env', 'VCENTER_HOSTNAME') }}"
awx_vcenter_username: "{{ lookup('env', 'VCENTER_USERNAME') }}"
awx_vcenter_password: "{{ lookup('env', 'VCENTER_PASSWORD') }}"
awx_vcenter_validate_certs: false
awx_vcenter_datacenter: ""
awx_vcenter_cluster: ""
awx_vcenter_folder: ""
awx_vcenter_template: ""
awx_vcenter_datastore: ""
awx_vcenter_allowed_datastore_names: []
awx_vcenter_network: ""
awx_vcenter_vm_prefix: awx-test
awx_vcenter_vm_count: 1
awx_vcenter_vm_cpus: 2
awx_vcenter_vm_memory_mb: 4096
awx_vcenter_vm_disk_gb: 40
awx_vcenter_vm_state: poweredon
awx_vcenter_wait_for_ip: true
awx_vcenter_inventory_path: /tmp/awx-vcenter-lab.ini
awx_vcenter_inventory_groups:
  - awx_database
  - awx_redis
  - awx_web
  - awx_task
  - awx_receptor
awx_vcenter_ansible_user: ""
awx_vcenter_ansible_ssh_private_key_file: ""
