EDA_CONTROLLER_URL={{ awx_eda_automation_server_url }}
EDA_CONTROLLER_SSL_VERIFY={{ 'yes' if awx_eda_verify_ssl | bool else 'no' }}
EDA_ALLOWED_HOSTS=*
EDA_EVENT_STREAM_BASE_URL={{ awx_eda_event_stream_base_url }}
{% if awx_eda_server_image_url | length > 0 %}
EDA_IMAGE_URL={{ awx_eda_server_image_url }}
{% endif %}
{% if awx_eda_server_ui_image | length > 0 %}
EDA_UI_IMAGE={{ awx_eda_server_ui_image }}
{% endif %}
