# Controller authentication
CAPSTAN_CONTROLLER_URL=https://awx.ziadsaleemi.com
CAPSTAN_CONTROLLER_USERNAME=admin
CAPSTAN_CONTROLLER_PASSWORD=
CAPSTAN_CONTROLLER_VERIFY_SSL=true

# VMware vSphere Terraform credential
VCENTER_HOST=vcenter.example.com
VCENTER_USERNAME=svc-capstan@example.local
VCENTER_PASSWORD=
